#this-picture {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

#this-loading-picture {
  width: 128px;
  height: 128px;
  margin: auto;
  border-radius: 100%;
}

#this-loading-stats {
  height: 30px;
  max-width: 400px;
  margin: auto;
}

#this-loading-tabs {
  width: 100%;
  height: 50px;
}
