#this-loading-content {
  height: 50vh;
}

.this-loading-pagination {
  height: 40px;
}

#this-discussion-info {
  a {
    text-decoration: none;
  }
}

#this-status {
  display: flex;
  align-items: center;

  .btn {
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    border: none;
  }
}
