@let user = user$ | async;

@if (onLoadDiscussion() === "true" || onLoadDiscussion() === "success") {
  @if (onLoadDiscussion() === "success") {
    <app-breadcrumb [items]="breadcumbItems()"></app-breadcrumb>
  }

  <div class="app-container container">
    @if (onLoadDiscussion() === "true") {
      <div class="app-skeleton-loading-item app-loading-breadcrumb mb-3"></div>
      <div class="app-skeleton-loading-item app-loading-title mb-3"></div>
    } @else {
      <div
        id="this-discussion-info"
        [class.border-bottom]="discussion()?.nbPages === 1"
        [class.pb-3]="discussion()?.nbPages === 1"
        class="mb-3"
      >
        <h1 class="fs-3">
          @if (discussion()?.open === false) {
            <span class="fa-solid fa-lock">&nbsp;</span>
          }

          <span>{{ discussion()?.title }}</span>
        </h1>

        <span>{{ "DISCUSSION_PAGE.STARTED_BY" | translate }} </span>
        <a [routerLink]="authorLink()">{{ discussion()?.author?.name }}</a
        >,
        <span>{{ discussion()?.createdAt | date: "MMM d, yyy, HH:mm" }}</span>

        <br />

        @if (user && user?.role !== "regular") {
          <div id="this-status">
            <span>{{ "GENERAL.ACTIONS" | translate }}:&nbsp;</span>

            @if (
              (discussion()?.author?.role === "regular" &&
                user?.role === "moderator") ||
              (discussion()?.author?.role === "moderator" &&
                user?.role === "moderator" &&
                discussion()?.author?.id === user?.id) ||
              user?.role === "admin"
            ) {
              @if (discussion()?.open) {
                @if (onStatusChange() === "true") {
                  <button [disabled]="true" class="btn btn-link">
                    <span class="fas fa-spinner fa-spin"></span>
                    <span>{{ "DISCUSSION_PAGE.CLOSING" | translate }}</span>
                  </button>
                } @else {
                  <button (click)="onStatusChangeClick()" class="btn btn-link">
                    {{ "DISCUSSION_PAGE.CLOSE" | translate }}
                  </button>
                }
              } @else {
                @if (onStatusChange() === "true") {
                  <button [disabled]="true" class="btn btn-link">
                    <span class="fas fa-spinner fa-spin"></span>
                    <span>{{ "DISCUSSION_PAGE.OPENNING" | translate }}</span>
                  </button>
                } @else {
                  <button (click)="onStatusChangeClick()" class="btn btn-link">
                    {{ "DISCUSSION_PAGE.OPEN" | translate }}
                  </button>
                }
              }

              <!-- <span>&nbsp;·&nbsp;</span>

              <button class="btn btn-link">
                {{ "DISCUSSION_PAGE.PIN" | translate }}
              </button> -->

              <span>&nbsp;·&nbsp;</span>

              @if (onDelete() === "true") {
                <button [disabled]="true" class="btn text-danger">
                  <span class="fas fa-spinner fa-spin"></span>
                  <span>{{ "DISCUSSION_PAGE.DELETING" | translate }}</span>
                </button>
              } @else {
                <button (click)="onDeleteClick()" class="btn text-danger">
                  {{ "GENERAL.DELETE" | translate }}
                </button>
              }
            }
          </div>
        }
      </div>
    }

    @if (onLoadMessages() === "true") {
      <div class="this-loading-pagination app-skeleton-loading-item mb-3"></div>
      <div
        id="this-loading-content"
        class="app-skeleton-loading-item mb-3"
      ></div>
      <div class="this-loading-pagination app-skeleton-loading-item"></div>
    } @else if (onLoadMessages() === "success") {
      @if (messages().length > 0 && discussion()!.nbPages > 1) {
        <div class="border-bottom pb-3 mb-3">
          <app-pagination [nbPages]="discussion()!.nbPages"></app-pagination>
        </div>
      }

      @for (message of messages(); track message) {
        <app-message [index]="$index" [message]="message"></app-message>
      }

      @if (messages().length > 0 && discussion()!.nbPages > 1) {
        <div class="border-top pt-3">
          <app-pagination [nbPages]="discussion()!.nbPages"></app-pagination>
        </div>
      }

      <div class="mt-3 pt-3 border-top">
        @if (discussion()?.open) {
          @if (user) {
            <app-message-input
              [onPost]="onReply()"
              (post)="onReplyClick($event)"
            ></app-message-input>
          } @else {
            <p>
              <a [routerLink]="['/auth/login']">{{
                "GENERAL.LOGIN" | translate
              }}</a>
              {{ "GENERAL.OR_LOWERCASE" | translate }}
              <a [routerLink]="['/auth/register']">{{
                "GENERAL.CREATE_ACCOUNT_LOWERCASE" | translate
              }}</a>
              {{ "DISCUSSION_PAGE.TO_REPLY_LOWERCASE" | translate }}
            </p>
          }
        } @else {
          <p>{{ "DISCUSSION_PAGE.CLOSED" | translate }}</p>
        }
      </div>
    }
  </div>
}

<app-delete-discussion
  (confirmation)="onDeleteConfirmation()"
></app-delete-discussion>
