div.app-skeleton-loading-item {
  width: 100%;
  height: 63px;
}

.cdk-drag-preview {
  overflow: hidden;
}

.cdk-drag-placeholder {
  opacity: 0;
}

@media (max-width: 767px) {
  .row .col-12.col-sm-6.border-start {
    border-left: none;
  }
}
