@if (onLoad() == "true") {
  <div class="app-container container">
    <div class="app-skeleton-loading-item app-loading-breadcrumb mb-3"></div>
    <div class="app-skeleton-loading-item app-loading-title mb-3"></div>
    <div class="app-skeleton-loading-item this-loading-content mb-5"></div>
    <div class="app-skeleton-loading-item app-loading-title mb-3"></div>
    <div class="app-skeleton-loading-item this-loading-content"></div>
  </div>
} @else if (onLoad() === "success") {
  <app-breadcrumb></app-breadcrumb>

  @if (categories()?.length == 0) {
    <div id="this-not-configured" class="card">
      <div class="card-header">
        <h1 class="fs-5">{{ "FORUM_HOME_PAGE.NOT_CONFIGURED" | translate }}</h1>
      </div>

      <div class="card-body">
        <p>{{ "FORUM_HOME_PAGE.NOT_CONFIGURED_TEXT" | translate }}</p>
      </div>
    </div>
  } @else {
    <div class="app-container container">
      @for (category of categories()!; track category) {
        @if (category.forums.length > 0) {
          <h2
            class="fs-4 border-bottom pb-2 mb-0 this-category-name"
            [class.mt-5]="$index > 0"
          >
            <a [routerLink]="[getCategorySlug(category)]">
              {{ category.name }}
            </a>
          </h2>

          @for (forum of category.forums; track forum) {
            <app-forum-link
              [category]="{ id: category.id, name: category.name }"
              [forum]="forum"
            ></app-forum-link>
          }
        }
      }
    </div>
  }
}
