@if (onLoad() == "true") {
  <div class="app-container container">
    <div class="app-skeleton-loading-item this-loading-title mb-3"></div>
    <div class="app-skeleton-loading-item this-loading-content mb-5"></div>
    <div class="app-skeleton-loading-item this-loading-title mb-3"></div>
    <div class="app-skeleton-loading-item this-loading-content"></div>
  </div>
} @else if (onLoad() === "success") {
  @if (categories()?.length == 0) {
    <div id="this-not-configured" class="card">
      <div class="card-header">
        <h1 class="fs-5">{{ "HOME_PAGE.NOT_CONFIGURED" | translate }}</h1>
      </div>

      <div class="card-body">
        <p>{{ "HOME_PAGE.NOT_CONFIGURED_TEXT" | translate }}</p>
      </div>
    </div>
  } @else {
    <div class="app-container container">
      @for (category of categories()!; track category) {
        @if (category.forums.length > 0) {
          <h2
            class="fs-4 border-bottom pb-3 mb-0 this-category-name"
            [class.mt-5]="$index > 0"
          >
            <a
              [routerLink]="[
                category.id + '-' + utilService.getSlug(category.name),
              ]"
            >
              {{ category.name }}
            </a>
          </h2>

          @for (forum of category.forums; track forum) {
            <app-forum-link
              [category]="{ id: category.id, name: category.name }"
              [forum]="forum"
            ></app-forum-link>
          }
        }
      }
    </div>
  }
}

<!-- <div class="app-container container">
  <a href="#message-1">Go to message 1</a><br />
  <a href="#message-2">Go to message 2</a>

  <br />

  <h1>Heading 1</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <h2>Heading 2</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
    sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
    convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
    fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
    lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
    sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
    sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
    convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
    fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
    lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
    sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
    sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
    convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
    fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
    lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
    sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
  </p>

  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
    sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
    convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
    fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
    lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
    sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
  </p>

  <p>
    <a href="#">Lorem ipsum dolor</a> sit amet consectetur adipiscing elit.
    Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
    pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
    Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
    nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
    aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
    himenaeos.
  </p>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content.
      </p>
      <a href="#" class="btn btn-primary"
        ><span class="fa-solid fa-link"></span> Go somewhere</a
      >
    </div>
  </div>

  <br />

  <div>
    <button type="button" class="btn btn-primary">Primary</button>&nbsp;
    <button type="button" class="btn btn-secondary">Secondary</button>&nbsp;
    <button type="button" class="btn btn-success">Success</button>&nbsp;
    <button type="button" class="btn btn-danger">Danger</button>&nbsp;
    <button type="button" class="btn btn-link">Link</button>
  </div>

  <br />

  <div>
    <img
      src="https://media.nature.com/lw767/magazine-assets/d41586-025-03505-7/d41586-025-03505-7_51828434.jpg"
      class="rounded"
      style="display: block; width: 100%"
    />
  </div>

  <br />

  <div id="message-1" class="card">
    <div class="card-header">
      <img
        src="https://healthiersteps.com/wp-content/uploads/2021/12/green-apple-benefits.jpeg"
        class="border"
      />

      <div>
        <span class="fs-5 fw-bold">Raphael</span>
        <span>Member</span>
      </div>
    </div>

    <div class="card-body">
      <p class="message-date">
        Posted June 1, 2024 at 12:00 PM
        <span class="d-none d-md-inline">·</span>
        <br class="d-md-none" />
        Edited June 21, 2024 at 9:00 AM
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
        Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
        massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper
        vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
        inceptos himenaeos.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
        Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
        massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper
        vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
        inceptos himenaeos.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
        Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
        massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper
        vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
        inceptos himenaeos.
      </p>

      <p class="signature border-top">This is my signature</p>
    </div>

    <div class="card-footer border-top">
      <div>
        <a href="#">@ User</a>&nbsp; <a href="#">Quote</a>&nbsp;
        <a href="#">Report</a>
      </div>

      <div>
        <a href="#" class="app-text-success">
          <span class="fa-solid fa-thumbs-up"></span>&nbsp;+3
        </a>

        &nbsp;

        <a href="#" class="app-text-danger">
          <span class="fa-solid fa-thumbs-down"></span>&nbsp;-1
        </a>
      </div>
    </div>
  </div>

  <br />

  <div id="message-2" class="card">
    <div class="card-header">
      <img
        src="https://static.vecteezy.com/system/resources/previews/023/290/775/original/fresh-red-apple-isolated-on-transparent-background-generative-ai-png.png"
        class="border"
      />

      <div>
        <span class="fs-5 fw-bold">Maeva</span>
        <span>Member</span>
      </div>
    </div>

    <div class="card-body">
      <p class="message-date">
        Posted June 3, 2024 at 11:00 AM
        <span class="d-none d-md-inline">·</span>
        <br class="d-md-none" />
        Edited June 21, 2024 at 9:00 AM
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
        Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
        massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper
        vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
        inceptos himenaeos.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
        Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
        massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper
        vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
        inceptos himenaeos.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
        Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
        massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper
        vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
        inceptos himenaeos.
      </p>

      <img
        src="https://media.nature.com/lw767/magazine-assets/d41586-025-03505-7/d41586-025-03505-7_51828434.jpg"
        alt=""
        class="rounded w-100"
      />

      <p class="signature border-top">This is my signature</p>
    </div>

    <div class="card-footer border-top">
      <div>
        <a href="#">@ User</a>&nbsp; <a href="#">Quote</a>&nbsp;
        <a href="#">Report</a>
      </div>

      <div>
        <a href="#" class="app-text-success">
          <span class="fa-solid fa-thumbs-up"></span>&nbsp;+1
        </a>

        &nbsp;

        <a href="#">
          <span class="fa-solid fa-thumbs-down"></span
          >&nbsp;-1
        </a>
      </div>
    </div>
  </div>
</div> -->
