header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--app-color-white) !important;
  box-shadow: 0px 0px 10px 5px var(--app-color-shadow);
}

button.navbar-toggler {
  border: none;
  box-shadow: none;
}

#this-search-desktop,
#this-search-mobile {
  align-items: stretch;

  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
  }

  input:focus {
    border-color: var(--app-color-primary) !important;
    border-right: none !important;
  }

  input:focus + button {
    border-color: var(--app-color-primary) !important;
    border-left: none;
  }

  button {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 1rem;
    border: none;
    border-top: 1px solid var(--bs-border-color);
    border-bottom: 1px solid var(--bs-border-color);
    border-right: 1px solid var(--bs-border-color);
    background-color: var(--app-color-white);
    border-top-right-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
    transition: var(--app-transition-time);
  }

  button:hover {
    color: var(--app-color-white);
    background-color: var(--app-color-primary);
    transition: var(--app-transition-time);
  }
}

#this-search-desktop {
  width: 300px;
  margin-left: auto;
  margin-right: 1rem;
}

#this-search-mobile {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
}

#this-mobile-search-icon {
  border: none;
  background: none;
  padding: 0 1rem;
  margin-left: auto;
}

.navbar,
.container {
  padding: 0;
}

#this-user-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

#this-logo {
  text-decoration: none;
  color: var(--app-color-primary);
  font-size: 1.5rem;

  img {
    max-height: 48px;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  #this-logo div {
    max-width: 275px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#this-menu {
  a {
    color: var(--app-color-primary-hover);
  }
}

a {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 1rem !important;
  transition: var(--app-transition-time);
}

a:hover {
  background-color: var(--app-color-secondary);
  transition: var(--app-transition-time);
}

.dropdown-menu {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: var(--app-border-radius);
  border-bottom-left-radius: var(--app-border-radius);
  box-shadow: 0px 5px 10px 0px var(--app-color-shadow);
  margin-top: -1px;
  padding: 0;

  li:last-of-type a {
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
  }
}

@media only screen and (max-width: 991px) {
  .dropdown-menu {
    border-radius: 0;

    li:last-of-type a {
      border-radius: 0;
    }

    li a {
      padding-left: 2rem !important;
    }
  }
}
