@let user = user$ | async;
@let config = config$ | async;

<header>
  <nav class="navbar navbar-expand-lg">
    @if (config?.showLogo || config?.showTitle) {
      <a id="this-logo" routerLink="/">
        <div>
          @if (config?.showLogo && config?.logo) {
            <img [src]="config?.logo" [alt]="config?.title" />
          }

          @if (config?.showTitle) {
            <span>{{ config?.title }}</span>
          }
        </div>
      </a>
    }

    <button
      id="this-hamburger-icon"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa-solid fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="this-menu" class="navbar-nav">
        @if (user) {
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="javascript:void()"
              data-bs-toggle="dropdown"
            >
              @if (user.image) {
                <img
                  [src]="user.image"
                  [alt]="user.name"
                  id="this-user-picture"
                  class="rounded-circle border me-2"
                />
              } @else {
                <img
                  src="/assets/images/user.png"
                  [alt]="user.name"
                  id="this-user-picture"
                  class="rounded-circle me-2"
                />
              }

              {{ user.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a [routerLink]="getUserLink(user)" class="dropdown-item">
                  <span class="fa-regular fa-circle-user"></span>
                  &nbsp;
                  {{ "GENERAL.MY_PROFILE" | translate }}
                </a>
              </li>
              <li>
                <a routerLink="/settings" class="dropdown-item">
                  <span class="fa-solid fa-gears"></span>
                  &nbsp;
                  {{ "GENERAL.SETTINGS" | translate }}
                </a>
              </li>
              @if (user.role === "admin") {
                <li>
                  <a routerLink="/forum-settings" class="dropdown-item">
                    <span class="fa-solid fa-gear"></span>
                    &nbsp;
                    {{
                      "FORUM_SETTINGS_PAGE.CONFIGURATION_PAGE.TITLE" | translate
                    }}
                  </a>
                </li>
              }
              <li>
                <a
                  (click)="onLogoutClick()"
                  href="javascript:void(0)"
                  class="dropdown-item"
                >
                  <span class="fa-solid fa-arrow-right-from-bracket"></span>
                  &nbsp;
                  {{ "GENERAL.LOGOUT" | translate }}
                </a>
              </li>
            </ul>
          </li>
        } @else {
          <li class="nav-item">
            <a
              (click)="hideHamburgerMenu()"
              class="nav-link"
              routerLink="/auth/login"
            >
              {{ "GENERAL.LOGIN" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="hideHamburgerMenu()"
              class="nav-link"
              routerLink="/auth/register"
            >
              {{ "GENERAL.REGISTER" | translate }}
            </a>
          </li>
        }
      </ul>
    </div>
  </nav>
</header>
