.card {
  .card-header,
  .card-footer {
    background-color: var(--app-color-white);
  }

  .card-header {
    display: flex;
    align-items: center;
    border-top-left-radius: var(--app-border-radius);
    border-top-right-radius: var(--app-border-radius);

    img {
      width: 56px;
      height: 56px;
      border-radius: 100%;
      object-fit: cover;
    }

    div {
      margin-left: 1rem;

      span {
        display: block;
      }
    }
  }

  .card-footer {
    display: flex;
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);

    a {
      text-decoration: none;
    }

    div:first-of-type {
      font-size: 0.9rem;
    }

    div:nth-child(2) {
      margin-left: auto;
    }
  }

  .card-body {
    margin-left: var(--bs-card-cap-padding-x);
    margin-right: var(--bs-card-cap-padding-x);
    padding-left: 0;
    padding-right: 0;

    .message-date {
      color: var(--app-color-gray);
    }

    .signature {
      padding-top: var(--bs-card-spacer-y);
    }

    .message-date,
    .signature {
      font-size: 0.9rem;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
