<div class="card" [formGroup]="group()">
  <div class="card-body">
    <div class="d-flex align-items-start gap-2">
      <div class="flex-grow-1">
        <div>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            [placeholder]="
              'FORUM_SETTINGS_PAGE.BOTTOM_LINKS_PAGE.LINK_TEXT' | translate
            "
          />
        </div>

        <div>
          <input
            formControlName="link"
            type="text"
            class="form-control"
            [placeholder]="
              'FORUM_SETTINGS_PAGE.BOTTOM_LINKS_PAGE.LINK_URL' | translate
            "
          />
        </div>
      </div>

      <span (click)="delete.emit()" class="fas fa-times"></span>
    </div>
  </div>
</div>
