<div [id]="'message-' + message()?.id" class="card mb-3">
  <div class="card-header">
    <a [routerLink]="authorLink()">
      @if (authorImage()) {
        <img
          [src]="authorImage()"
          [alt]="
            message()?.author?.name +
            ' ' +
            translationService.instant('GENERAL.IMAGE_LOWERCASE')
          "
          class="border rounded-circle"
        />
      } @else {
        <img
          [alt]="'MESSAGE_COMPONENT.USER_IMAGE' | translate"
          src="/assets/images/user.png"
          class="border rounded-circle"
        />
      }
    </a>

    <div>
      <a [routerLink]="[authorLink()]" id="this-author-name" class="fs-5">
        {{ message()?.author?.name }}
      </a>
      <span class="app-font-size-xs">
        @if (message()?.author?.role === "admin") {
          {{ "GENERAL.ADMIN" | translate }}
        } @else if (message()?.author?.role === "moderator") {
          {{ "GENERAL.MODERATOR" | translate }}
        } @else {
          {{ "GENERAL.MEMBER" | translate }}
        }
      </span>
    </div>
  </div>

  <div class="card-body">
    <p class="message-date">
      {{ "MESSAGE_COMPONENT.POSTED" | translate }}
      {{ message()?.date | date: "MMM d, yyy, HH:mm" }}

      @if (message()?.editedDate) {
        <span class="d-none d-md-inline">·</span>
        <br class="d-md-none" />

        @if (message()?.editor) {
          {{ "MESSAGE_COMPONENT.EDITED_BY" | translate }}
          <a id="this-editor-link" [routerLink]="editorLink()">{{
            message()?.editor?.name
          }}</a
          >,
        } @else {
          {{ "MESSAGE_COMPONENT.EDITED" | translate }}
        }

        {{ message()?.editedDate | date: "MMM d, yyy, HH:mm" }}

        @if (message()?.editionComment) {
          <br />
          {{ "MESSAGE_COMPONENT.EDIT_REASON" | translate }}
          {{ message()?.editionComment }}
        }
      }
    </p>

    <div [innerHTML]="html()"></div>

    @if (message()?.author?.signature) {
      <p class="signature border-top">{{ message()?.author?.signature }}</p>
    }
  </div>

  @if (canEdit) {
    <div class="card-footer">
      <div class="app-font-size-xs">
        <!-- <a href="#">
        {{ "MESSAGE_COMPONENT.TAG_USER" | translate }}
      </a>

      &nbsp;

      <a href="#">
        {{ "MESSAGE_COMPONENT.QUOTE_USER" | translate }}
      </a>

      &nbsp;

      <a href="#">
        {{ "MESSAGE_COMPONENT.REPORT_USER" | translate }}
      </a>

      &nbsp; -->

        @if (canEdit) {
          @if ((page() === 1 || !page()) && index() === 0) {
            <a routerLink="/discussion/{{ discussionId() }}/edit">
              {{ "MESSAGE_COMPONENT.EDIT" | translate }}
            </a>
          } @else {
            <a
              routerLink="/message/{{ message()?.id }}/edit"
              [queryParams]="{
                discussionId: discussionId(),
                discussionPage: page() ? page() : null,
              }"
            >
              {{ "MESSAGE_COMPONENT.EDIT" | translate }}
            </a>
          }
        }
      </div>

      <div>
        <!-- <a id="this-thumbs-up" href="#">
        <span class="fa-solid fa-thumbs-up"></span>3
      </a>

      &nbsp;

      <a id="this-thumbs-down" href="#">
        <span class="fa-solid fa-thumbs-down"></span>1
      </a> -->
      </div>
    </div>
  }
</div>
