@let bottomLinks = bottomLinks$ | async;

<footer class="border-top">
  @if (bottomLinks?.length) {
    <div class="mb-2">
      @for (bottomLink of bottomLinks; track bottomLink; let last = $last) {
        @if (bottomLink.link.startsWith("/")) {
          <a [routerLink]="bottomLink.link">{{ bottomLink.name }}</a>
        } @else {
          <a [href]="bottomLink.link">{{ bottomLink.name }}</a>
        }
        @if (!last) {
          <span>&nbsp;·&nbsp;</span>
        }
      }
    </div>
  }

  <small>
    {{ "FOOTER.COPYRIGHT" | translate }}

    @if (createdYear === null || createdYear === currentYear) {
      {{ currentYear }}
    } @else {
      {{ createdYear }} - {{ currentYear }}
    }

    {{ (config$ | async)?.title }},
    {{ "FOOTER.ALL_RIGHTS_RESERVED" | translate }}
  </small>
</footer>
