<ng-template #modalEl let-modal>
  <form [formGroup]="categoryForm()!">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{
          "FORUM_SETTINGS_PAGE.FORUMS_PAGE.COMPONENTS.CATEGORY.TITLE"
            | translate
        }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <app-input
          [id]="'this-name'"
          [label]="'GENERAL.NAME' | translate"
          [type]="'text'"
          [placeholder]="
            'FORUM_SETTINGS_PAGE.FORUMS_PAGE.COMPONENTS.CATEGORY.ENTER_NAME'
              | translate
          "
          [control]="'name'"
        ></app-input>
      </div>

      <div class="mb-3">
        <app-text-area
          [id]="'this-meta-description'"
          [label]="'GENERAL.META_DESCRIPTION' | translate"
          [placeholder]="
            'FORUM_SETTINGS_PAGE.FORUMS_PAGE.COMPONENTS.CATEGORY.ENTER_META_DESCRIPTION'
              | translate
          "
          [control]="'metaDescription'"
        ></app-text-area>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
      <button
        [disabled]="categoryForm()!.invalid"
        (click)="onOkClick()"
        type="button"
        class="btn btn-primary"
      >
        {{ "GENERAL.OK" | translate }}
      </button>
    </div>
  </form>
</ng-template>
