/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

/* Custom variables */
:root {
  --app-color-black: #000000;
  --app-color-white: #ffffff;
  --app-color-red: #ff0000;
  --app-color-gray: #888888;
  --app-color-primary: var(--app-color-black);
  --app-color-primary-hover: #444444;
  --app-color-secondary: #e0e0e0;
  --app-color-secondary-hover: #c0c0c0;
  --app-color-secondary-2: #cccccc;
  --app-color-success: #517812;
  --app-color-success-hover: #3e5e0f;
  --app-color-danger: #a71b1b;
  --app-color-danger-hover: #bb2525;
  --app-color-text: #444444;
  --app-color-link: #0284c7;
  --app-color-link-hover: #00a8ff;
  --app-color-shadow: #dddddd;

  --app-border-radius: 0.5rem;

  --app-transition-time: 0.3s;

  --app-font-size-xs: 0.9rem;

  --app-container-max-width: 1024px;
}

/* Custom CSS */

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: var(--app-color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--app-color-primary);
}

a {
  color: var(--app-color-link);
  font-weight: bold;
  transition: color var(--app-transition-time);
}

a:hover {
  color: var(--app-color-link-hover);
  transition: color var(--app-transition-time);
}

.app-container {
  max-width: var(--app-container-max-width);
}

.app-auth-card {
  width: 450px;
  max-width: 450px;
  margin: auto;
  margin-top: 4rem;
  border: none;
  box-shadow: 0px 0px 10px 5px var(--app-color-shadow);

  .card-body {
    padding: 2rem;
  }
}

.app-skeleton-loading-item {
  border-radius: var(--app-border-radius);
  animation: skeleton-loading 1s linear infinite alternate;
}

.app-text-success {
  color: var(--app-color-success);
}

.app-text-danger {
  color: var(--app-color-danger);
}

.app-font-size-xs {
  font-size: var(--app-font-size-xs);
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* Bootstrap */

.card {
  border-radius: var(--app-border-radius);
}

.card-header {
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
}

.card-footer {
  border-bottom-left-radius: var(--app-border-radius);
  border-bottom-right-radius: var(--app-border-radius);
}

.btn {
  border-radius: var(--app-border-radius);
  transition: var(--app-transition-time) !important;
}

.btn-hover {
  transition: var(--app-transition-time) !important;
}

.btn-primary {
  background-color: var(--app-color-primary) !important;
  border-color: var(--app-color-primary) !important;
}

.btn-primary:hover {
  background-color: var(--app-color-primary-hover) !important;
  border-color: var(--app-color-primary-hover) !important;
}

.btn-secondary {
  color: var(--app-color-text) !important;
  background-color: var(--app-color-secondary) !important;
  border-color: var(--app-color-secondary) !important;
}

.btn-secondary:hover {
  background-color: var(--app-color-secondary-hover) !important;
  border-color: var(--app-color-secondary-hover) !important;
}

.btn-success {
  background-color: var(--app-color-success) !important;
  border-color: var(--app-color-success) !important;
}

.btn-success:hover {
  background-color: var(--app-color-success-hover) !important;
  border-color: var(--app-color-success-hover) !important;
}

.btn-danger {
  background-color: var(--app-color-danger) !important;
  border-color: var(--app-color-danger) !important;
}

.btn-danger:hover {
  background-color: var(--app-color-danger-hover) !important;
  border-color: var(--app-color-danger-hover) !important;
}

.btn-link {
  font-weight: bold;
  color: var(--app-color-link) !important;
}

.btn-link:hover {
  color: var(--app-color-link-hover) !important;
}

.rounded {
  border-radius: var(--app-border-radius) !important;
}

input,
select,
textarea {
  color: var(--app-color-text) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--app-color-gray) !important;
}

input.form-control,
select.form-select,
textarea.form-control {
  box-shadow: none !important;
  border-radius: var(--app-border-radius) !important;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--app-color-primary) !important;
}

.form-check-input:checked {
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.nav {
  a.nav-link {
    color: var(--app-color-text);
    transition: var(--app-transition-time);
    margin-bottom: 0.5rem;
    border-radius: var(--app-border-radius);
  }

  a.nav-link:hover,
  a.nav-link.active {
    background-color: var(--app-color-secondary);
    transition: var(--app-transition-time);
  }
}

.card-header,
.card-footer {
  background-color: var(--app-color-white);
}

.card-header {
  border-top-left-radius: var(--app-border-radius) !important;
  border-top-right-radius: var(--app-border-radius) !important;
}

.card-footer {
  border-bottom-left-radius: var(--app-border-radius) !important;
  border-bottom-right-radius: var(--app-border-radius) !important;
}
