<form [formGroup]="formGroup()" (submit)="onSubmit()">
  <h1>{{ "APP.TITLE" | translate }}</h1>

  <p>{{ "SETUP_PAGE.INTRO" | translate }}</p>

  <div class="mb-3">
    <app-input
      [id]="'this-title'"
      [label]="'GENERAL.FORUM_TITLE' | translate"
      [type]="'text'"
      [control]="'title'"
    >
    </app-input>
  </div>

  <div class="mb-3">
    <app-select
      [id]="'this-language'"
      [label]="'GENERAL.LANGUAGE' | translate"
      [control]="'lang'"
      [data]="[{ value: 'en', label: 'LANGUAGES.ENGLISH' | translate }]"
      [selected]="formGroup().controls.lang.value"
    >
    </app-select>
  </div>

  @if ((onInit$ | async) === "true") {
    <button [disabled]="true" class="btn btn-primary">
      <span class="fas fa-spinner fa-spin"></span>
      <span>{{ "GENERAL.SUBMITTING" | translate }}</span>
    </button>
  } @else {
    <button
      [disabled]="formGroup().invalid"
      type="submit"
      class="btn btn-primary"
    >
      {{ "GENERAL.SUBMIT" | translate }}
    </button>
  }
</form>
