<!-- <div class="card" style="max-width: 450px; margin: auto">
  <div class="card-body">
    <h5 class="card-title">{{ "APP.TITLE" | translate }}</h5>

    <p>
      Welcome to Discussions! Let's get started by setting up some basic
      information.
    </p>

    <input placeholder="Title" type="text" class="form-control" /><br />
    <input placeholder="Lang" type="text" class="form-control" />

    <br />

    <button class="btn btn-primary">Submit</button>
  </div>
</div>

<br /> -->

<!-- <div style="width: 450px">
  <h1>{{ "APP.TITLE" | translate }}</h1>

  <p>
    Welcome to Discussions! Let's get started by setting up some basic
    information.
  </p>

  <input placeholder="Title" type="text" class="form-control" /><br />
  <input placeholder="Lang" type="text" class="form-control" />

  <br />

  <button class="btn btn-primary">Submit</button>
</div>

<br /> -->

<div style="width: 450px; margin-top: 5rem">
  <h1>Register</h1>

  <p>Register on Elevated Minds</p>

  <input placeholder="Name" type="text" class="form-control" /><br />
  <input placeholder="Password" type="text" class="form-control" />

  <br />

  <button class="btn btn-primary">Submit</button>
</div>
